NODE_ENV={development or production}
PORT=8000
DATABASE={MongoDB Atlas Database connection string}
DATABASE_PASSWORD={The password of the database}
DEBUG=undefined
JWT_SECRET={Secret key for the creation of JWT Secrets}
JWT_EXPIRES_IN={Expiration date of the JWT, the most common is 30d or 7d}
JWT_COOKIE_EXPIRES_IN={Expiration date of the JWT Cookie}
EMAIL_USERNAME={anything@gmail.com}
EMAIL_PASSWORD={12345}
EMAIL_HOST={a service to host your emails such as: smtp.mailtrap.io}
EMAIL_PORT={2525}

EMAIL_FROM={Email that will be used in default}

STRIPE_SECRET_KEY={Your secret Stripe key}
STRIPE_PUBLIC_KEY={Your public Stripe key}
STRIPE_WEBHOOK_SECRET={Your webhook secret}
